/* NAV CSS*/
.navbar {
    background: #F2F2F2;
    .nav-link {
        font-size: 0.95rem;
        color: #595959;
        font-weight: 600;
        &:hover { 
            background: #757373;
            color: white;
        }
    }
    .navbar-toggler {
        padding: 0.25rem;
        color: transparent;
    }
}